<mat-toolbar fxLayout="row" fxLayoutAlign="center center" color="primary">
    <mat-icon aria-hidden="false" aria-label="Example home icon">
      home
    </mat-icon>
  </mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="center center ">
    <mat-card fxLayout="column">
      <mat-card-header>
        <mat-card-title>
          SAME portal
        </mat-card-title>
      </mat-card-header>
      <hr>
      <mat-card-content>
        <h1> lag</h1>
      </mat-card-content>
    </mat-card>
  </div>
  <button mat-raised-button color="primary">
    Comida   
  </button>
  <button mat-raised-button color="accent">
    Bebida
  </button>